/*++++++MOBILE VIEW++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

main {
  background-image: url("../../images/explore-image.jpg");
}
h1 {
  color: #ffff00;
}
h2 {
  background-color: #ffff00;
}
#menu-explore {
  text-decoration: underline;
}
#magnifier {
  display: none;
}

/*++++++DESKTOP VIEW++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media (min-width: 1025px) {
  body {
    background-image: url("../../images/explore-desktop-image.jpg");
  }
  #magnifier {
    display: block;
    position: absolute;
    top: 18vh;
    left: 15vw;
    width: 10%;
    animation: move 3s 1;
  }
  @keyframes move {
    0% {
      top: 18vh;
      left: 15vw;
      width: 10%;
    }
    25% {
      top: 22vh;
      left: 30vw;
      width: 20%;
    }
    50% {
      top: 22vh;
      left: 45vw;
      width: 20%;
    }
    75% {
      top: 22vh;
      left: 60vw;
      width: 20%;
    }
    100% {
      top: 18vh;
      left: 15vw;
      width: 10%;
    }
  }
}
