.explore-field-1{
    background-image: url('../../images/explore-image.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
}
h1{
    color: #FFFF00;
    background-color: #433737;
    padding: 10px 30px 10px 30px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}
a{
    color: #433737;
    background-color: #FFFF00;
    margin-top: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
h3{
    color: #FFFF00;
    background-color: #433737;
    font-family: 'Freckle Face';
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}
.first-par{
    color: #433737;
    text-align: left;
    width: 90%;
    margin-left: 5%;
    font-size: 2vh;
}
.kids-label, .teachers-label, .researchers-label{
    font-family: 'Freckle Face';
    font-size: 25px;
    color: #433737;
    background-color: #FFFF00;
    padding: 10px 35px 10px 35px;
    position: absolute;
    
}
.kids-card, .teachers-card, .researchers-card{
    display: none;
    position: absolute;
    background-color: #FFF;
    z-index: 2;
}
.kids-card{
    top: 17%;
    left: 5%;
    width: 90%;
    height: 80%;
}
.teachers-card{
    top: 33%;
    left: 5%;
    width: 90%;
    height: 65%;
}
.researchers-card{
    top: 18%;
    left: 5%;
    width: 90%;
    height: 60%;
}
#kids:checked ~ .kids-card , #teachers:checked ~ .teachers-card, #researchers:checked ~ .researchers-card{
    display: block;
}
.kids-label{
    top: 7%;
    right: 1%;
}
.teachers-label{
    top: 25%;
    right: 30%;
    z-index: 1;
}
.researchers-label{
    bottom: 5%;
    right: 10%;
}
@media (min-width:769px){
    .explore-field-1{
        background-image: url('../../images/explore-desktop-image.jpg');
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
    }
    h1{
        color: #FFFF00;
        background-color: #433737;
        padding: 1% 10% 1% 10%;
        font-size: 70px;
        text-align: center;
        justify-self: center;
        align-self: center;
        position: static;
    }
    h1 a{
        position: absolute;
        top: 0px;
        left: 10px;
        font-size: 25px;
        margin: 0;
    }
    .kids-label, .teachers-label, .researchers-label{
        font-size: 30px;
    }
    .kids-label:hover, .teachers-label:hover, .researchers-label:hover{
        cursor: pointer;
        font-size: 35px;
    }
    h3{
        display: none;
    }
    .kids-card, .teachers-card, .researchers-card{
        border: 5px solid #FFFF00;
        background-color: rgba(255, 255, 255, 0.9);
    }
    #kids:checked ~ .kids-card , #teachers:checked ~ .teachers-card, #researchers:checked ~ .researchers-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:1080px) and (min-width:768px){
    h1{
        font-size: 50px;
    }
}