.get-involved-field-1{
    background-image: url('../../images/get-involved-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: #FFFF00;
    background-color: #433737;
    width: 50vw;
    padding: 10px 30px 10px 30px;
    text-align: center;
    margin-top: 15vh;
}
h2{
    color: #433737;
    background-color: #FFFF00;
    font-family: 'Freckle Face';
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}
.first-par{
    color: #433737;
    margin-left: 5%;
    font-size: 2vh;
}
span{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
}
#menu-involved{
    text-decoration: underline;
}
@media (min-width:769px){
    body{
        background-image: url('../../images/involved-desktop-image.jpg');
        background-size: cover;
    }
    .get-involved-field-1{
        background: none;
        display: flex;
        flex-direction: column;
        margin-top: 20vh;
    }
    h1{
        display: none;
    }
    h2{
        font-size: 35px;
    }
    span{
        margin-bottom: 70px;
    }
}
@media (max-width:1080px) and (min-width:768px){
    h1{
        font-size: 50px;
    }
}