.get-involved-field-1{
    background-image: url('../../images/get-involved-image.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
}
h1{
    color: #FFFF00;
    background-color: #433737;
    padding: 10px 30px 10px 30px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}
a{
    color: #433737;
    background-color: #FFFF00;
    margin-top: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
h3{
    color: #FFFF00;
    background-color: #433737;
    font-family: 'Freckle Face';
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}
.first-par{
    color: #433737;
    text-align: left;
    width: 90%;
    margin-left: 5%;
    font-size: 2vh;
}
.support-label, .internships-label, .volunteer-label{
    font-family: 'Freckle Face';
    font-size: 25px;
    color: #433737;
    background-color: #FFFF00;
    padding: 10px 35px 10px 35px;
    position: absolute;
    
}
.support-card, .internships-card, .volunteer-card{
    display: none;
    position: absolute;
    background-color: #FFF;
    z-index: 2;
}
.support-card{
    top: 27%;
    left: 5%;
    width: 90%;
    height: 70%;
}
.internships-card{
    top: 17%;
    right: 2%;
    width: 45%;
    height: 80%;
}
.volunteer-card{
    top: 17%;
    left: 2%;
    width: 45%;
    height: 80%;
}
#support:checked ~ .support-card , #internships:checked ~ .internships-card, #volunteer:checked ~ .volunteer-card{
    display: block;
}
.support-label{
    top: 17%;
    right: 15%;
}
.internships-label{
    top: 28%;
    left: 1%;
    z-index: 1;
}
.volunteer-label{
    bottom: 5%;
    right: 5%;
}