
/*++++++MOBILE VIEW++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*---First section---*/

.home-field-1{
    display: flex;
    height: 80vh;
    width: auto;
    background-image: url(../../images/home-image-phone.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin: 0;
}
h1{
    position: relative;
    bottom: -60%;
    z-index: 1;
    width: auto;
    margin-top: 0;
    padding: 0;
    animation: none;
}
#section-1{
    color: #FD09FE;
    margin-right: 0.5rem;
}
#section-2{
    color:#00D6FF;
    margin-right: 0.5rem;
}
#section-3{
    color:#FFFF00;
}
#menu-home{
    text-decoration: underline;
}
#rocket{
    display: none;
}

/*---Second section---*/

.home-field-2{
    display: flex;
    flex-direction: column;
    height: 55vh;
    background-color:#FFF; 
    align-items: center;
    border: 2vw solid #433737;
    border-top: 22vh solid #433737;
}
h2, .first-par,a{
    color: #FFF;
}
.home-field-2 p, .home-field-2 h2{
    color: #433737;
}
.home-field-2 a{
    background-color: #433737;
    text-decoration: none;
    padding: 5px;
}
.first-par{
    margin-bottom: 0;
}
h2{
    margin: 18vh 0 0 0;
    padding: 4vh 25vw 0 25vw;
}
a{
    margin-top: 30px;
    margin-right: 14vw;
    align-self: flex-end;
}
.home-field-2-desktop{
    display: none;
}

/*---Third section---*/

.home-field-3{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    height: 70vh;
    background-image: url('../../images/news-section-background.jpg');
    background-size: cover;
    padding-left: 5vw;
}
h3, h4, .second-par{
    margin-left: 3vw;
    text-align: left;
}
.second-par{
    width: 75vw;
}

/*---Fourth section---*/

.home-field-4{
    background-color: #433737;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#second-header{
    border-top: none;
    margin: 0;
}
#go-to-top-link{
    display: flex;
    align-items: center;
    color: #FFF;
    text-decoration: none;
    margin-top: 10%;
    margin-bottom: 3%;
}
#go-to-top-link img{
    padding-left: 15px;
}

/*++++++DESKTOP VIEW++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media (min-width:1025px){

/*---First section---*/

    .home-field-1{
        display: flex;
        height: 100vh;
        width: auto;
        background-image: url(../../images/home-desktop-image.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
    }
    h1{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: 0vh;
        background-color: rgba(67, 55, 55, 0.8);
        padding: 10px 15px 10px 15px;
        font-size: 100px;
        align-items: center;
    }
    #rocket{
        display: block;
        position: absolute;
        top: 105vh;
        left: 5vw;
        animation: move 4s 1;
        width: 10%;
    }
    @keyframes move{
        0%{top:105vh; left: 5vw; }
        50%{top:40vh; left: 5vw; }
        100%{top:105vh; left: 5vw; }
    }
  
/*---Second section---*/

    .home-field-2-desktop{
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
        background-image: url(../../images/home-image-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .textbox{
        background-color: rgba(67, 55, 55, 0.8);
        width: 30%;
        height: 70%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        left: 60%;
        top: 15%;
    }
    #second-header-desktop{
        font-family: 'Freckle Face', Tahoma;
        color: #FD09FE;
        font-size: 40px;
        display: block;
        padding: 0;
        margin-bottom: 10%;
        margin-top: 9%;
        width: 80%;
        text-align: center;
    }
    .first-par-desktop{
        color: #FFF;
        font-size: 1.5vh;
        width: 80%;
    }
    .home-field-2{
        display: none;
    }

/*---Third section---*/

    .home-field-3{
        background-image: url(../../images/news-section-background-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h3{
        align-self: baseline;
        font-size: 58px;
    }
    h4{
        font-size: 34px;
        margin-left: 0;
    }
    .second-par{
        font-size: 1.5vh;
    }

/*---Fourth section---*/

    .home-field-4{
        display: none;
    }

/*---Other break points---*/

@media (max-width:1800px){
    .first-par-desktop{
        margin: 5px;
    }
}
@media (max-width:1311px){
    #second-header-desktop{
        font-size: 30px;
    }
    .first-par-desktop{
        font-size: 1.3vh;
    }
}
@media (max-width:974px){
    #second-header-desktop{
        font-size: 20px;
    }
    .first-par-desktop{
        font-size: 1.2vh;
    }
}
@media (min-height: 1359px){
    .first-par-desktop{
        font-size: 1vh;
    }
}
@media  (max-height: 1200px){
    h3{
        top: 5%;
    }
}
@media (max-width:1440px) and (min-width:1025px){
     h1{
         font-size: 60px;
     }
}
@media (max-width: 1024px) and (orientation: landscape){
    .home-field-2{
        height: 70vh;
    }
    .home-field-3{
        height: 110vh;
    }
    .home-field-4{
        height: 140vh;
    }
    #contact-label{
        font-size: 3vw;
    }
}
