/*++++++MOBILE VIEW++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*---Global---*/
.visibility {
  display: none;
}
.rotate {
  transform: rotate(180deg);
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica;
}
h1 {
  font-family: "Noto Serif", serif;
  font-size: 25px;
  letter-spacing: 0.1em;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 25px;
  color: #ff1c1c;
  font-family: "Noto Serif", serif;
}
h4 {
  font-size: 20px;
  color: #433737;
}
a {
  font-size: 16px;
  color: #fff;
  transition: color 0.4s ease-in-out;
}
p {
  font-size: 16px;
}
input {
  display: none;
}
.first-par {
  width: 90%;
  text-align: left;
}

/*---Navigation---*/

ul {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  background-color: #433737;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  font-size: 25px;
  font-family: "Noto Serif", serif;
}

label {
  position: absolute;
  cursor: pointer;
  top: 4vh;
  right: 5vw;
}
label img {
  border-radius: 10px;
}
#close {
  position: absolute;
  top: 4vh;
  right: 7vw;
  color: #fff;
  padding: 5px;
}

/*---Form---*/

.contact-form {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: none;
}
#select-label,
#name,
#mail,
#message {
  font-size: 16px;
  position: static;
  font-family: "Roboto", Helvetica;
  color: #433737;
  margin: 2vh 0 0.5vh 0;
}
#full-name,
#e-mail {
  display: block;
}
button {
  font-family: "Noto Serif", serif;
  font-size: 20px;
  color: #fff;
  background-color: #433737;
  border: none;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 10px;
}
#contact-label {
  display: block;
  position: static;
  text-align: center;
  font-size: 30px;
  color: #433737;
  font-family: "Noto Serif", serif;
  padding: 0.5rem;
}
#contact-label:hover {
  cursor: pointer;
}
.arrow-down {
  height: 1rem;
}
.error {
  color: #ff1c1c;
  padding: 0.5rem;
}
input,
textarea,
select {
  border: 1px solid #433737;
  padding-left: 0.5rem;
  font-family: "Roboto", Helvetica;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 2px solid #433737;
}
.form-success {
  padding: 5px;
  margin-top: 10px;
}
/*---Footer---*/

#logo {
  margin-bottom: 2vh;
}
#logo1,
#logo2,
#logo3 {
  display: inline;
  font-family: "Noto Serif", serif;
  font-size: 3vh;
  padding-right: 5px;
  text-decoration: none;
  margin: 0;
}
#logo1 {
  color: #fd09fe;
}
#logo2 {
  color: #00d6ff;
}
#logo3 {
  color: #ffff00;
}
#social-networks a {
  margin: 30px;
}
#home-link-desktop {
  margin: 0 30px 0 0;
}
#contact-label:hover {
  opacity: 0.7;
}
#social-networks {
  margin: 10vh 0 10vh 0;
}
footer {
  display: flex;
  flex-direction: column-reverse;
  background-color: #433737;
  justify-content: space-between;
  align-items: center;
}

/*++++++DESKTOP VIEW++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media (min-width: 1025px) {
  /*---Navigation desktop---*/

  label {
    display: none;
  }
  #close-li {
    display: none;
  }
  ul {
    display: flex;
    position: absolute;
    flex-direction: row;
    top: 0;
    height: 10vh;
    background-color: rgba(67, 55, 55, 0.8);
  }
  li a {
    font-size: 30px;
  }
  #menu-list a:hover {
    opacity: 0.8;
    text-shadow: 1px 1px 1px #000;
  }
  #menu-list a {
    position: static;
    padding: 10px 10px 10px 10px;
    margin: 0;
  }

  /*---Form---*/

  #select-label,
  #name,
  #mail,
  #message {
    display: block;
    font-size: 20px;
  }
  button {
    font-size: 35px;
    box-shadow: 2px 2px 6px #433737;
  }
  button:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  textarea {
    width: 40%;
    height: 25%;
  }
  #full-name,
  #e-mail,
  #select-reason {
    width: 200px;
    height: 2vh;
  }

  /*---Footer---*/

  footer {
    display: flex;
    flex-direction: row;
    height: 10vh;
    background-color: rgba(67, 55, 55, 0.8);
    justify-content: space-between;
    align-items: center;
  }
  #logo {
    margin-bottom: 0;
    margin-left: 30px;
  }
  #social-networks {
    margin: 0;
  }
}

/*---h1 mobile version + animation---*/

@media (max-width: 1024px) {
  h1 {
    background-color: #433737;
    padding: 10px 30px 10px 30px;
    text-align: center;
    animation: title 3s 1;
  }
  @keyframes title {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
}
