/*---Global---*/

body{
    margin: 0;
    font-family: 'Roboto', Helvetica;
}
h1{
    font-family: 'Freckle Face', Tahoma;
    font-size: 25px;
    letter-spacing: 0.1em;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 25px;
    color: #FF1C1C; 
    font-family: 'Freckle Face', Tahoma;
}
h4{
    font-size: 20px;
    color: #433737; 
}
a{
    font-size: 16px;
}
p{
    font-size: 16px;
}
input{
    display: none;
}
.first-par{
    width: 90%;
    text-align: left;
}

/*---Navigation---*/

ul{
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: #433737;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    font-size: 30px;
    font-family: 'Freckle Face', Tahoma;
}
#menu:checked ~ ul{
    display: block;
}
label{
    position: absolute;
    top: 3vh;
    left: 8vw;
}
#close{
    position: absolute;
    top: 6vh;
    right: 5vw;
    color: #00D6FF;
}
#menu-home{
    color: #00D6FF;
    position: absolute;
    top:10vh;
    left: 20vw;
}
#menu-explore{
    color: #FFFF00;
    position: absolute;
    top: 25vh;
    left: 20vw;
}
#menu-exhibition{
    color: #FD09FE;
    position: absolute;
    top:40vh;
    left: 20vw;
}
#menu-visit{
    color: #00D6FF;
    position: absolute;
    top:55vh;
    left: 20vw;
}
#menu-involved{
    color: #FFFF00;
    position: absolute;
    top:70vh;
    left: 20vw;
} 

/*---Navigation desktop---*/

@media (min-width:1025px){
    label{
        display: none;
    }
    #close-li{
        display: none;
    }
     ul{
        display: flex;
        flex-wrap: wrap;
        top: 0;
        height: 10vh;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgba(67, 55, 55, 0.8);
    }
    #menu-list a:hover{
        color: #000;
    }
    #menu-list a{
        position: static;
        padding: 10px 10px 10px 10px;
        margin: 0;
    }
}

/*---h1 mobile version + animation---*/

@media (max-width: 1024px){
    h1{
        background-color: #433737;
        width: 50vw;
        padding: 10px 30px 10px 30px;
        text-align: center;
        margin-top: 15vh;
        animation: title 3s 1;
    }
    @keyframes title{
        0%{opacity: 0.1; width: 5vw;}
        100%{opacity: 1; width: 50vw;}
    }
}
