
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Freckle Face';
    font-size: 25px;
    letter-spacing: 0.1em;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 25px;
    color: #FF1C1C; 
    font-family: 'Freckle Face';
}
h4{
    font-size: 20px;
    color: #433737; 
}
a{
    font-size: 16px;
}
p{
    font-size: 16px;
}
input{
    display: none;
}