/*++++++MOBILE VIEW++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

main {
  background-image: url("../../images/visit-image.jpg");
}
h1 {
  color: #00d6ff;
}
h2 {
  background-color: #00d6ff;
}
#menu-visit {
  text-decoration: underline;
}
#welcome {
  display: none;
}

/*++++++DESKTOP VIEW++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media (min-width: 1025px) {
  body {
    background-image: url("../../images/visit-desktop-image.jpg");
  }
  #welcome {
    display: inline;
    color: #433737;
    font-family: "Roboto", Helvetica;
    padding: 0 0.5vw;
    position: absolute;
    left: 3vw;
    top: 19vh;
    transform: rotate(25deg);
    opacity: 0;
    animation: move 3s 1;
  }
  @keyframes move {
    0% {
      opacity: 0.5;
      left: 3vw;
      top: 19vh;
      font-size: 1px;
      opacity: 0.3;
    }
    50% {
      opacity: 1;
      left: 3vw;
      top: 19vh;
      font-size: 60px;
    }
    100% {
      opacity: 0.5;
      left: 3vw;
      top: 19vh;
      font-size: 1px;
      opacity: 0.3;
    }
  }
}
